#shop{
font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#products{
  text-align: center;
  color: black;
}

#shop button:hover{
  background-color: gray;
}

#cart{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#cart h1{
  text-align: center;
  color: darkblue;
}

#cart button{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
}

#cart button:hover{
  background-color:blue;
}

#main h1{
  text-align: center;
  color: black;
}
  #main{
font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

#main button{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
}

img{
  height: 40px;
  width: 40px;
}
